@use 'variables';
.about-me{
    display: flex;
    .aboutMeContent{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__texts{
            max-width: 700px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            span{
                font-weight: bold;
                font-size: variables.$font-size-medium;
            }
            &--h2{
                font-size: variables.$font-size-big;
            }&--p{
                font-size: variables.$font-size-medium;
            }&--a{
                font-size: variables.$font-size-medium;
            }
        }
        &__image{
            max-width: 550px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 0;
            &--img{
                object-fit: contain;
                width: 100%;
            }
        }
    }
}
@media (min-width : 766px){
    .aboutMeContent{
        &__image{
            &--img{
                max-width: 600px;
            }
        }
    }
}
@media (min-width : 1024px){
    .aboutMeContent{
        &__texts{
            width: 80%;
            &--h2{
                font-size: variables.$font-size-bigger;
            }
            &--p{
                padding: 1rem 0;
            }
        }
        &__image{
            &--img{
                width: 100%;
                max-width: 700px;
            }
        }
    }
}
@media screen and (min-width:1260px){
    .aboutMeContent{
        &__texts{
            &--h2{
                font-size: variables.$font-size-bigger;
            }
            &--p{
                padding: 1rem 0;
            }
        }
        &__image{
            &--img{
                width: 100%;
                max-width: 750px;
            }
        }
    }
}
@media screen and (min-width:1366px) {
    .aboutMeContent{
        &__texts{   
            width: 50%;
        }
        &__image{
            width: 70%;
            &--img{
                width: 100%;
            }
        }
    }
}