@use 'variables';
.aboutMeContent{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 6rem 0;

    &__texts{
        width:90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        gap: 14px;
        &--h2{
            font-size: variables.$font-size-big;
        }&--p{
            font-size: variables.$font-size-medium;
        }&--a{
            font-size: variables.$font-size-medium;
        }
    }
    &__image{
        width: 90%;
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        &--img{
            width: 100%;
        }
    }
}

@media (min-width : 766px){
    .aboutMeContent{
        &__image{
            &--img{
                max-width: 600px;
            }
        }
    }
}

@media (min-width : 1024px){
    .aboutMeContent{
        &__texts{
            width: 60%;
            &--h2{
                font-size: variables.$font-size-bigger;
            }
            &--p{
                padding: 1rem 0;
            }
        }
        &__image{
            &--img{
                width: 100%;
                max-width: 700px;
            }
        }
    }
}
@media screen and (min-width:1260px){
    .aboutMeContent{
        &__texts{
            &--h2{
                font-size: variables.$font-size-bigger;
            }
            &--p{
                padding: 1rem 0;
            }
        }
        &__image{
            &--img{
                width: 100%;
                max-width: 750px;
            }
        }
    }
}
@media screen and (min-width:1366px) {
    .aboutMeContent{
        &__texts{   
            width: 50%;
        }
        &__image{
            width: 50%;
            &--img{
                width: 100%;
                max-width: 750px;
            }
        }
    }
}