@use 'variables';
.nav {
    width: 100%;
    padding: 10px 2px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    background-color: #333;
    border-bottom: 1px solid rgb(32, 32, 32);
    .nav__section{
        width: 50%;
        display: flex;
        align-items: center;
    }
    .sectionHome{
        padding: .4rem .8rem;
        display: flex;
        &__a{
            display: flex;
            text-decoration: none;
            width: max-content;
            color: #fff;
            &--p{
                font-size: variables.$font-size-bigger;
            }
            .letter-mobile{
                color: rgb(255, 206, 0);
                margin: 0;
            }
            .letter-desktop{display: none;margin: 0;}
        }:hover{color: rgb(32, 168, 221);}
    }
    .sectionLinks{
        display: none;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 2px 0;
        &__li{
            list-style: none;
            &--a{
                color: #fff;
                font-size: variables.$font-size-medium;
            }:hover{
                color: gray;
            }
        }
    }
    .sectionMenu{
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    &__a{
        padding: 8px;
        background-color: rgb(255, 252, 55);
        width: max-content;
        display: block;
        &--img{
            width: 100%;}
        }
    }
    .sectionMenuDrop{
        transition: .5s;
        height: 0;
        width: 100%;
        background-color: rgb(32, 168, 221);
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &__pageLinks{
            display: flex;
            flex-direction: column;
            &--li{
                margin: 1rem .5rem;
                list-style: none;
                a{
                    font-size: 3rem;
                    color: rgb(22, 22, 22);
                    padding: .5rem;
                }:hover{
                    color: #fff;
                }
            }
        }
        &__iconLinks{
            list-style-type: none!important;
            display: flex;
            align-items: center;
            &--li{
                list-style: none;
                margin: .5rem 1rem;
                a{
                    img{
                        max-width: 5rem;
                        width: 100%;
                    }:hover{
                        -webkit-filter: invert(100%);
                        filter: invert(100%);
                        transition: .3s;
                    }
                } 
            } 
        }
    }
    .height{
        height: 100vh;
    }   
    .menuButtonColor{
        background-color: rgb(32, 168, 221);
    }
}
@media screen and (min-width: 600px){
    .sectionHome{
        .sectionHome__a{
            .letter-desktop{
                display: block!important;
            } 
            .letter-d{
                display: none;
            }
        }
    }

}
@media screen and (min-width:1024px){
    .nav{
        .sectionHome{width: 40%;}
        .sectionLinks{width: 60%;}
        .sectionMenu{
            display: none!important;
        }
        .sectionLinks{
            display: flex!important;
        }
    }
}

@media screen and (min-width:1260px){
    .nav{
        .sectionLinks{
            &__li{
                margin: 0 .7rem;
            }
        }
    }
}

@media screen and (min-width:1366px){
    .nav{
        .sectionLinks{
            &__li{
                margin: 0 1rem;
            }
        }
    }
}





