@use 'variables';
.nav {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 8px 15px;
    background-color: #333;
    border-bottom: 1px solid rgb(31, 31, 31);

    .nav__section{max-width: 50%;}
    .sectionHome{
        &__a{
            display: flex;
            text-decoration: none;
            width: max-content;
            color: #fff;
            &--p{
                font-size: variables.$font-size-big;
            }
            .letter-mobile{
                color: rgb(255, 206, 0);
            }
            .letter-desktop{display: none;}
        }:hover{color: rgb(32, 168, 221);}
    }
    .sectionLinks{
        display: none;
        justify-content: space-between;
        align-items: center;
        &__li{
            margin: 0 .3rem;
            list-style: none;
            &--a{
                color: #fff;
                font-size: variables.$font-size-smaller;
            }:hover{
                color: gray;
            }
        }
    }
    .sectionMenu{
    display: flex;
    justify-content: flex-end;
    &__a{
        padding: 8px;
        background-color: rgb(255, 252, 55);
        width: max-content;
        display: block;
        &--img{
            width: 100% ;
            }
        }
    }

    .sectionMenuDrop{
        height: 100vh;
        width: 100%;
        background-color: rgb(32, 168, 221);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &__ul{
            &--li{
                margin: 10px 0;
                list-style: none;
                a{
                    font-size: 3rem;
                    color: rgb(22, 22, 22);
                    img{width: 60px;max-width: 100%;}
                }
            }
            &--li:nth-child(2){
                a{img{width: 50px;}}
            }
        }
        &__ul:nth-child(2){
            display: flex;
            align-items: center;
            li{
                list-style: none;
                display: flex;
                align-items: center;    
            }
        }
    }
}
@media screen and (min-width: 600px){
    .sectionHome{
        .sectionHome__a{
            .letter-desktop{
                display: block!important;
            } 
            .letter-d{
                display: none;
            }
        }
    }

}
@media screen and (min-width:1024px){
    .nav{
        padding: 1rem;
        .sectionMenu{
            display: none!important;
        }
        .sectionLinks{
            display: flex!important;
        }
    }
}






