@use 'variables';
.nav {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #333;

    .nav__section{width: 50%;}
    .sectionHome{
        padding: .4rem .8rem;
        &__a{
            display: flex;
            text-decoration: none;
            width: max-content;
            color: #fff;
            &--p{
                font-size: variables.$font-size-big;
            }
            .letter-mobile{
                color: rgb(255, 206, 0);
            }
            .letter-desktop{display: none;}
        }:hover{color: rgb(32, 168, 221);}
    }
    .sectionLinks{
        display: none;
        justify-content: space-between;
        align-items: center;
        &__li{
            margin: 0 .3rem;
            list-style: none;
            &--a{
                color: #fff;
                font-size: variables.$font-size-smaller;
            }:hover{
                color: gray;
            }
        }
    }
    .sectionMenu{
    display: flex;
    justify-content: flex-end;
    &__a{
        padding: 8px;
        background-color: rgb(255, 252, 55);
        width: max-content;
        display: block;
        &--img{
            width: 100% ;
            }
        }
    }

    .sectionMenuDrop{
        transition: .5s;
        height: 0;
        width: 100%;
        background-color: rgb(32, 168, 221);
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &__pageLinks{
            display: flex;
            flex-direction: column;
            &--li{
                margin: 1rem .5rem;
                list-style: none;
                a{
                    font-size: 3rem;
                    color: rgb(22, 22, 22);
                    padding: .5rem;
                }:hover{
                    color: #fff;
                }
            }
        }
        &__iconLinks{
            list-style-type: none!important;
            display: flex;
            align-items: center;
            &--li{
                list-style: none;
                margin: .5rem 1rem;
                a{
                    img{
                        max-width: 5rem;
                        width: 100%;
                    }:hover{
                        -webkit-filter: invert(100%);
                        filter: invert(100%);
                    }
                } 
            } 
        }
    }
    .height{
        height: 100vh;
    }   
    .menuButtonColor{
        background-color: rgb(32, 168, 221);
    }
}
@media screen and (min-width: 600px){
    .sectionHome{
        .sectionHome__a{
            .letter-desktop{
                display: block!important;
            } 
            .letter-d{
                display: none;
            }
        }
    }

}
@media screen and (min-width:1024px){
    .nav{
        .sectionMenu{
            display: none!important;
        }
        .sectionLinks{
            display: flex!important;
        }
    }
}

@media screen and (min-width:1260px){
    .nav{
        .sectionLinks{
            &__li{
                margin: 0 .7rem;
            }
        }
    }
}

@media screen and (min-width:1366px){
    .nav{
        .sectionLinks{
            &__li{
                margin: 0 1rem;
            }
        }
    }
}





