

.cv-button{
    width: max-content;
    padding: 10px 18px;
    list-style: none;
    border-radius: 4px;
    background-color:rgb(255, 206, 0);
    color: black;
}

.cv-button:hover{
    background-color:rgb(255, 252, 55);
    color: black!important;
}