/* 
    1 - npm install sass --save-dev
    2 - npm install -g sass
    3 - sass --watch sass:css (comando para "live server" de sass)
*/

@use "navbar";
@use "variables";
@use "header";
@use "about-me";
@use "portfolio";
@use "contact";
@use "footer";

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.main{
    width: 100%;
    background-color: rgb(32, 32, 32);
}










@media screen and (min-width: 600px) {

    /* portfolio section*/
    .card2 > img:first-child{
        order: 3;
    }

    /* footer*/
    .footer .footer__list--container{
        flex-direction: row;
        justify-content: space-around;
    }
}


@media screen and (min-width:768px){
    .portfolio__card{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about-me{
        flex-direction: row;
    }
    .about-me__text{
        width: 50%;
    }
    .about-me__img{
        width: 50%;
        min-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-me__container{
        flex-direction: row;
    }
}



