@use "navbar";
@use "variables";

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 66.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}


.header{
    height: 100vh;
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header--container{
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.header--container div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header--container div a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(27, 27, 27);
    font-size: 40px;
    font-weight: bold;
}

.header--container__box--html{
    height: 33%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    gap: 10px;
}
.header--container__box--js{
    height: 33%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    gap: 10px;
}
.header--container__box--css{
    height: 33%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    gap: 10px;
}


.header--container__box--html > img:nth-child(2){ 
    display: none;
}
.header--container__box--js > img:nth-child(3){ 
    display: none;
}
.header--container__box--css > img:nth-child(2){ 
    display: none;
}



.header--container__box--html a{
    background-color: rgb(255, 127, 22);
}
.header--container__box--js a{
    background-color: rgb(255, 206, 0);
}
.header--container__box--css a{
    background-color: rgb(32, 168, 221);
}

/*seccion sobre mi*/

.about-me{
    padding: 15px 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    margin: 80px 0;
}
.about-me__container{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-me__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-me__text > *{
    margin: 20px 0;
}

.about-me__text .cv-button{
    font-size: 2rem;
    margin-left: 15px;
    width: max-content;
}

.about-me__text h2{
    font-size: 3.8rem;
}
.about-me__text div{
    font-size: 1.7rem;
    letter-spacing: 1px; 
    font-weight: 300;
}

.about-me__img{
    margin: 0 auto;
    padding: 15px 0;
}
.about-me__img img{
    width: 100%;
}
/* portfolio */
.studies{
    width: 100%;
    background-color: rgb(32, 32, 32);
    text-align: center;
    margin: 80px 0;
}
.studies h2{
    font-size: 3.5rem;
    color: #fff;
    padding-top: 40px;
}

.studies__card{
    width: 80%;
    min-width: 320px;
    margin: 25px auto;
    background-color: #333;
    border: 1px solid #333;
    display: flex;   
    flex-direction: column;
    align-items: center;
}
.studies__card > img{
    width: 100%;
    min-height: 400px;
    max-height: 450px;
    object-fit: cover;
}



.studies__card--text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    box-sizing: border-box;
    color: #Fff;
    padding: 0 5px;
}

.studies__card--text h3{
    font-weight: 400;
    font-size: 3rem;
}
.studies__card--text h4{
    font-size: 2.5rem;
    font-weight: 400;
}
.studies__card--text p{
    font-size: 1.8rem;
    letter-spacing: 1px;
}
.studies__card--text a{
    font-size: 2rem;
    margin-top: 20px;
    margin-right: 10px;
    width: 100%;
    text-align: end;
}

.studies .cv-button{
    border-radius: 1px;
    font-size: 20px;
}
.cv-button-div{
    margin-top: 60px;
}




.card1:hover{
    border: 1px solid rgb(255, 127, 22);
}
.card1 .studies__card--text h4{
    color:  rgb(255, 127, 22);
}
.card1 .studies__card--text a{
    color:  rgb(255, 127, 22);
}




.card2:hover{
    border: 1px solid rgb(255, 206, 0);
}
.card2 .studies__card--text h4{
    color:  rgb(255, 206, 0);
}
.card2 .studies__card--text a{
    color:  rgb(255, 206, 0);
}



.card3:hover:hover{
    border: 1px solid  rgb(32, 168, 221);
}
.card3 .studies__card--text h4{
    color:  rgb(32, 168, 221);
}
.card3 .studies__card--text a{
    color:  rgb(32, 168, 221);
}





/*seccion de contacto*/
.contact{
    background-color: rgb(32, 32, 32);
    padding: 50px 0;
}
.contact .contact__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    margin-top: 40px;
    padding: 30px 0;
    background-color: rgb(32, 168, 221);
}
.contact > .contact__container > .contact__container--form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3.6rem;
    width: 100%;
}
.contact > .contact__container > .contact__container--form > *{
    margin: 10px 0;
    width: 100%;
    max-width: 500px;
}
.contact > .contact__container > .contact__container--form > input,textarea{
    padding: 4px 8px;
    border: none;
}
.contact > .contact__container > .contact__container--form > textarea{
    border: none;
    resize: none;
    overflow: hidden;
    height: 150px;
}
.contact > .contact__container > .contact__container--form > .form-button{
    padding: 4px 8px;
    font-family: 'Montserrat', sans-serif;
}
input,textarea:focus{
    outline: none;
}
.contact .contact__container > *{
    margin: 8px 0;
}
.contact .contact__container > h3{
    font-size: 4rem;
}
.contact .contact__container > p{
    font-size: 3rem;
}
.contact .contact__container > ul{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact .contact__container > ul > li{
    margin: 8px 0;
    list-style: none;
    font-size: 2rem;
}
.contact .contact__container > ul > .cv-button-hover{
    margin: 15px 0;
    list-style: none; 
}

.contact .contact__container > ul > li > .cv-button{
    color: black;
    border: 1px solid black;
    font-size: 2rem;
}

.contact__container--list{
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.contact__container--list > li > a{
    display: flex;
    align-items: center;
}
.contact__container--list > li > a:hover{
    background-color: rgb(255, 252, 55);
    border-radius: 15px;
}
.contact__container--list > li > a > img{
    width: 100%;
    max-width: 30px;
}
.contact__container--list > li {
    list-style: none;
    padding: 0 5px;
}

/* footer*/
.footer{
    width: 100%;
    background-color: rgb(64, 64, 64);
}
.footer > p{
    font-size: 2rem;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    font-weight: 300;
}

.footer .footer__list--container{
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer > .footer__list--container > .container--list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}
.footer > .footer__list--container > .container--list > .contact__container--list> li > a > img{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.footer > .footer__list--container > .container--list > .contact__container--list> li > a > img:hover{
    -webkit-filter: invert(1%);
    filter: invert(1%);
}

.container--list > .nav--home > .nav--home__link{
    color: rgb(255, 206, 0);
    font-size: 3rem;
    letter-spacing: .5rem;
} 
.container--list > li > p {
    font-size: 2rem;
    color: rgb(160, 160, 160);
}
.container--list > li > h4{
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
}
.container--list > li > a{
    font-size: 1.8rem;
    color: rgb(160, 160, 160);
}
.container--list > li{
    font-size: 2rem;
    list-style: none;
}
.footer__copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__copyright > p{
    font-size: 1.8rem;
    color: rgb(160,160,160);
}
.footer__copyright > p > a{
    font-size: 1.8rem;
    color: #fff;
}
@media screen and (min-width: 600px) {

    /*header section*/



    .header--container__box--html{
        grid-template-columns: 2fr 1.5fr 1fr;
        grid-template-rows: 1fr;
    }
    .header--container__box--js{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
    }
    .header--container__box--css{
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 1fr;
    }
    
    .header--container__box--html > img:nth-child(2){ 
        display: block;
    }
    .header--container__box--js > img:nth-child(3){ 
        display: block;
    }
    .header--container__box--css > img:nth-child(2){ 
        display: block;
    }
    .header--container__box--css > a:first-child{ 
        order: 3;
    }

    /* portfolio section*/
    .card2 > img:first-child{
        order: 3;
    }

    /* footer*/
    .footer .footer__list--container{
        flex-direction: row;
        justify-content: space-around;
    }
}


@media screen and (min-width:768px){
    .studies__card{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about-me{
        flex-direction: row;
    }
    .about-me__text{
        width: 50%;
    }
    .about-me__img{
        width: 50%;
        min-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-me__container{
        flex-direction: row;
    }
}



