/* 
    1 - npm install sass --save-dev
    2 - npm install -g sass
    3 - sass --watch sass:css (comando para "live server" de sass)
*/

@use "navbar";
@use "variables";
@use "header";
@use "about-me";
@use "portfolio";
@use "contact";
@use "footer";

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
ul{
    padding: 0;
}
a{
    text-decoration: none;
}

.main{
    width: 100%;
    background-color: rgb(32, 32, 32);
    &__section{
        min-height: 100vh;
    }
}



